@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-0: #000000;
	--dark-0-5: #101010f0;
	--dark-1: #121212;
	--dark-2: #181818;
	--dark-3: #242424;
	--dark-4: #303030;
	--dark-5: #363636;

	--light-0: #ffffff;
	--light-1: #dddddd;
	--light-2: #b3b3b3;
	--light-3: #979797;
	--light-4: #767676;
	--light-5: #606060;
	--light-5: #ffffff7a;

	--destructive: #ff3149;

	--accent: #f7d460;
	--accent-1: #edb600;
}

@layer base {
	body {
		background-color: var(--dark-0);
		color: var(--light-0);
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
}

@layer components {
}

@layer utilities {
}

::-webkit-scrollbar {
	width: 3px;
	height: 0px;
	overflow: visible;
	background: transparent;
}

::-webkit-scrollbar-track {
	margin: 0;
	border-radius: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: transparent;
}

*[aria-label='scroll']:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}

pre,
code {
	background: transparent !important;
}

* {
	outline: none;
}

picture {
	overflow: hidden;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@keyframes blurInOut {
	0%,
	100% {
		filter: blur(0px);
	}
	50% {
		filter: blur(10px);
	}
}

.blur-animation {
	animation: blurInOut 2s ease-in-out infinite;
}
