@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-0: #000000;
	--dark-1: #121212;
	--dark-2: #181818;
	--dark-3: #242424;
	--dark-4: #303030;
	--dark-5: #363636;

	--light-0: #ffffff;
	--light-1: #dddddd;
	--light-2: #b3b3b3;
	--light-3: #979797;
	--light-4: #767676;
	--light-5: #606060;

	--destructive: #ff3149;

	--primary: #ecb3ed;
	--primary-1: #caa0ca;

	--secondary: #eed685;
	--secondary-1: #f9e39b;
}

@layer base {
	body {
		background-color: var(--dark-0);
		color: var(--light-0);
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
}

@layer components {
}

@layer utilities {
}
