@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-0: #121212;
	--dark-1: #171717;
	--dark-2: #212121;
	--dark-3: #2e2e2e;
	--dark-4: #898989;

	--light-0: #fafafa;
	--light-1: #b4b4b4;
	--light-2: #898989;

	--destructive: #ff3149;

	--accent: #00623a;
	--accent-1: #347858;
	--accent-2: #3dcf8e;
}

@layer base {
	body {
		color: var(--light-0);
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}
}

@layer components {
}

@layer utilities {
}

::-webkit-scrollbar {
	width: 3px;
	height: 0px;
	overflow: visible;
	background: transparent;
}

::-webkit-scrollbar-track {
	margin: 0;
	border-radius: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: transparent;
}

*[aria-label='scroll']:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}

pre,
code {
	background: transparent !important;
}

* {
	outline: none;
}

picture {
	overflow: hidden;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@keyframes blurInOut {
	0%,
	100% {
		filter: blur(0px);
	}
	50% {
		filter: blur(10px);
	}
}

.blur-animation {
	animation: blurInOut 2s ease-in-out infinite;
}
