@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-0: #000000;
	--dark-1: #121212;
	--dark-2: #181818;
	--dark-3: #242424;
	--dark-4: #303030;
	--dark-5: #363636;

	--light-0: #ffffff;
	--light-1: ##b3b3b3;

	--primary: #ecb3ed;
	--secondary: ##f9e39b;
}

body {
	background-color: var(--dark-0);
	color: var(--light-0);
	margin: 0;
}
